* {
    box-sizing      : border-box;
}

html, body{
    font-size       : 16px;
    font-family     : 'Barlow Condensed', sans-serif;
    font-family     : 'Marvel', sans-serif;
    font-family     : 'Saira Condensed', sans-serif;

    font-weight     : 300;
}
strong,
h1,
h2,
h3,
h4,
h5{
    font-weight     : 500;
    text-transform  : uppercase;
}
header,
footer{
    background-color: #5d88b4;
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    color           : #FFF;
    width           : 100%;
    padding         : 1em;
    text-align      : center;
    text-transform  : uppercase;
    margin-bottom   : 1em;
}

footer{
    margin-bottom   : 0px;
    font-size       : 0.8em;
    padding         : 2em;
}
h1{
    font-size       : 3em;
    line-height     : 1em;
}
h2{
    font-size       : 1.6em;
    line-height     : 1.5em;
}

h3{
    font-size       : 1.5em;
    line-height     : 2rem;
}

meter{
    width           : 100%;
    height          : 0.5em;
}

/* Safari Chrome */
meter::-webkit-meter-bar {
    background      : #CCCCCC; margin-top: -0.3em;
}
meter::-webkit-meter-optimum-value{
    background-image     : linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
}



a{
    text-decoration      : none;
    color                : #284d9e;
}
img{
    transition      : all 0.3s ease-in-out;
}

.fino{
    font-weight          : 100;
}

.wrapper {
    max-width            : 1280px;
    padding              : 1em;
    margin               : 0 auto;


    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap             : 3em;
    grid-auto-rows       : minmax(100px, auto);
}

.wrapper > div {
    border               : 1px solid #FFF;

}
.wrapper section > article {
    margin-bottom        : 1em;

}

.wrapper article > div {

    margin               : auto 0.5em;
    line-height          : 1.3em;
}

.wrapper img {
    width                : 100%;
    border-radius        : 50%;
}


.wrapper img:hover {
    filter               : blur(2px);
}


.wrapper article > div p {
    padding              : 0.5em;
    text-align           : justify;
}

.wrapper ul > li {
    margin-bottom        : 0.5em;
}

.titulo{
    transition          : 0.3s ease-in-out;
}
.titulo{
    background-image     : linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    color                : #FFF;
    font-weight          : 500;
    padding              : 0.5em;
    margin-bottom        : 0.5em;
    text-transform       : uppercase;
}

.titulo:hover{
    padding-left        : 0.8em;
}

.one {
    grid-column          : 1;
}
.two { 
    grid-column          : 2;
}
.three {
    grid-column          : 3;
}

.cargo{
    color                : #43CBFF;
}


@media only screen and (max-width: 600px) {
    .wrapper {
        display: block;
    }
}